/*
* Author: Alex P
* URL: www.itsokayitsofficial.io
*
* Project Name: Minimal Portfolio - Page Loader
* Version: 1.0
* Date: 10/02/2017
* URL: github.com/itsokayitsofficial/itsokayitsofficial.io branch port_min
*/


/*==================
Base Styles
==================*/

body {
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
}

.block {
    display: table-cell;
    vertical-align: middle
}


/*==================
Page Loader
==================*/

.loader {
    position: relative;
    display: inline-block;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    overflow: hidden;
}

.loader:after {
    content: "";
    position: absolute;
    top: 10%;
    left: 10%;
    display: block;
    height: 400px;
    width: 400px;
    background: none repeat scroll 0 0 #fff;
    border-radius: 50%;
}

.loader>span {
    position: absolute;
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.left {
    left: 0
}

.right {
    left: 50%
}

.anim {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 999px;
    background: none repeat scroll 0 0 #003F7E;
}

.left .anim {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    left: 100%;
    transform-origin: 0 50% 0;
    animation: loader-rotate-left 3s linear 0s infinite;
    -webkit-transform-origin: 0 50% 0;
    -webkit-animation: loader-rotate-left 3s linear 0s 1;
}

.right .anim {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    left: -100%;
    transform-origin: 100% 50% 0;
    animation: loader-rotate-right 3s linear 1.5s infinite;
    -webkit-transform-origin: 100% 50% 0;
    -webkit-animation: loader-rotate-right 3s linear 1.5s 1;
}

@keyframes loader-rotate-right {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(180)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes loader-rotate-left {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(180)
    }
    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes loader-rotate-right {
    0% {
        -webkit-transform: rotate(0deg)
    }
    50% {
        transform: rotate(180)
    }
    100% {
        -webkit-transform: rotate(180deg)
    }
}

@-webkit-keyframes loader-rotate-left {
    0% {
        -webkit-transform: rotate(0deg)
    }
    50% {
        transform: rotate(180)
    }
    100% {
        -webkit-transform: rotate(180deg)
    }
}