/*
* Author: Alex P
* URL: www.itsokayitsofficial.io
*
* Project Name: ItsOkayItsOfficial
* URL: www.itsokayitsofficial.io
*/

h1,
h2,
h3,
h4,
 :hover {
    text-decoration: none !important;
}

svg,
img {
    height: 20px;
    width: 30px;
}

li {
    display: inline-block;
}


/* Headwrap */

#headerwrap {
    background: no-repeat center top;
    background-color: #272727 !important;
}


/* Hal Type */

.hal {
    font-family: Courier New, Courier, monospace;
    display: inline-block;
    float: left;
    text-align: left;
    width: 100%;
}

.hal h3 {
    color: red;
    font-family: Courier New, Courier, monospace;
    font-size: 20px !important;
    font-weight: bold !important;
}

.hal-type {
    color: white;
    font-weight: normal;
}


/* #Tools */

#tools {
    margin-left: -50px;
    margin-top: 30px;
}

/* Social  */

.twitter {
    background-color: #55acee !important;
}

.spotify {
    background-color: #00e461 !important;
}

.omdb {
    background-color: #e95950 !important;
}

tbody,
tbody a {
    color: white;
}

tr:hover {
    opacity: .7;
}