html,
body {
  background: #fff;
  margin: 0;
  padding: 0;
  font-family: arial !important;
  letter-spacing: 0.2em;
  text-align: right;
  height: 100%;
  overflow: hidden;
}

#main {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

#canvas {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
}

#info {
  margin: 30px;
}

#name {
  color: #0f669d;
}

#logos {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  max-width: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #242424;
  }
}
