html,
body {
  margin: 0;
  padding: 0;
  font-family: arial !important;
  letter-spacing: 0.2em;
  text-align: right;
  height: 100%;
}

a {
}

#main {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

#canvas {
  width: 949;
  height: 1680;
}

#info {
  margin: 30px;
}

#logos {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  max-width: 5em;
}
